<h2>Longest Word Game</h2>
<div class="container">
  <div class="d-flex flex-wrap justify-content-center">
    <% @letters.each do | letter | %>
      <div class="letter-box"><%= letter %></div>
   <% end %>
  </div>
  <form action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters.join %>
    <div class="mb-3">
      <label class="form-label">Your answer</label>
      <input name="answer" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
